<!DOCTYPE html>
<html>
  <head>
    <title>TpiRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
    <% if signed_in? %>
      <%= link_to "Salir", destroy_user_session_path, method: :delete %>
      <%= link_to "Profesionales", professionals_path%>
    <% else %>
      <%= link_to "Registrarse", new_user_registration_path %>
      <%= link_to "Ingresar", new_user_session_path %>
    <% end %>
    </div>
    <div align='center'>
    <%= yield %>
    </div>
  </body>
</html>
