<p id="notice"><%= notice %></p>

<h1>Professionals</h1>

<table border=1>
  <thead>
    <tr>
      <th>Surname</th>
      <th>Name</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= professional.surname %></td>
        <td><%= professional.name %></td>
        <td><%= link_to 'Show', professional %></td>
        <% if can? :update, @professional %>
          <td><%= link_to 'Edit', edit_professional_path(professional) %></td>
        <% end %>
        <% if can? :delete, @professional %>
          <td><%= link_to 'Destroy', professional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= link_to 'Show Appointments', professional_appointments_path(professional) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Professional %>
  <%= link_to 'New Professional', new_professional_path %>
<% end %>

<%= render 'appointments/grilla',professional:nil %>